flask
flask_restful
flask_cors
webargs
gevent
web3>=4.7.1
networkx>=2.0
trustlines-contracts-bin>=1.0.0
trustlines-contracts-deploy>=1.0.0
sqlalchemy
eth-utils
tinyrpc
gevent-websocket
marshmallow>=3.0.0b7
marshmallow-oneofschema>=2.0.0
flask-sockets
firebase-admin
psycopg2
psycogreen
wrapt
attrs
click
toml
cachetools

# --- development dependencies, i.e. dependencies not needed for running tl-relay
black
flake8
flake8-string-format
pytest
pytest-cov
mypy
contract-deploy-tools>=0.7.1
tox
pre-commit
