-c constraints.in
flask
flask_restful
flask_cors
sentry-sdk[flask]
webargs>=5.0,<6.0
gevent
web3>=5.0,<6.0
networkx>=2.0
trustlines-contracts-bin>=1.1.3,<1.2.0
trustlines-contracts-deploy>=1.1.3,<1.2.0
sqlalchemy
eth-utils
tinyrpc
gevent-websocket
marshmallow>=3.0.0b7<4.0
marshmallow-oneofschema>=2.0.0<3.0
flask-sockets
firebase-admin
psycopg2
psycogreen
wrapt
attrs
click
toml
cachetools
